html,body{
  margin: 0;
  height: 100%;
}
.page{
  margin: 0%;
  padding: 0%;
  height: 100%;
}
.page-row{
  margin: 0;
  height: 100%;
}
.login-div{
  height: 100%;
  background-color:#EEEEEE;
  padding: 6.8% 8% 0% 8%;
}